src/flows/BP_Sales_Professional_Flow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Login_Access_Check_For_BP</name>
        <label>Login Access Check For BP</label>
        <locationX>234</locationX>
        <locationY>52</locationY>
        <actionName>VerifyAccessForBusinessPartners</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Login_Flag</targetReference>
        </connector>
        <inputParameters>
            <name>loginApplication</name>
            <value>
                <elementReference>LoginFlow_Application</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loginPlatform</name>
            <value>
                <elementReference>LoginFlow_Platform</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loginType</name>
            <value>
                <elementReference>LoginFlow_LoginType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loginUserAgent</name>
            <value>
                <elementReference>LoginFlow_UserAgent</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isLoginAllowed</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Login_Flag</name>
        <label>Check Login Flag</label>
        <locationX>236</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Login_Not_Allowed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isLoginAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WARNING</targetReference>
            </connector>
            <label>Login Not Allowed</label>
        </rules>
    </decisions>
    <interviewLabel>BP Sales Professional Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BP Sales Professional Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>WARNING</name>
        <label>WARNING</label>
        <locationX>236</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>login_warning_screen</name>
            <fieldText>You are not approved to access Salesforce.com desktop or the Salesforce1 mobile application.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Login_Access_Check_For_BP</startElementReference>
    <variables>
        <name>isLoginAllowed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userrole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
