src/flows/CF_Login-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Action</name>
        <label>Apex Action</label>
        <locationX>78</locationX>
        <locationY>359</locationY>
        <actionName>VerifyFlowAction</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>usrIds</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Retrieve</name>
        <label>Retrieve</label>
        <locationX>77</locationX>
        <locationY>2</locationY>
        <actionName>VerifyFlowRetrieve</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_TC</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>tcdate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_TC</name>
        <label>Check TC</label>
        <locationX>76</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tcdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlankVariable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CF_TC</targetReference>
            </connector>
            <label>Not Accepted</label>
        </rules>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tcdate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>BlankVariable</elementReference>
                </rightValue>
            </conditions>
            <label>Accepted</label>
        </rules>
    </decisions>
    <interviewLabel>ChatterFree Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChatterFree Login Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>CF_TC</name>
        <label>CF TC</label>
        <locationX>78</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Apex_Action</targetReference>
        </connector>
        <fields>
            <name>TCText</name>
            <fieldText>&lt;b&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;Terms of agreement required before employees use Chatter:&lt;/span&gt;&lt;/span&gt;&lt;/b&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;This application is solely for the use of authorized Comcast employees and should be used for business purposes only.  Comcast reserves the right at any time to monitor usage of this system to ensure compliance with all Comcast policies, including but not limited to the Conduct, Non-Solicitation &amp;amp; Non-Distribution, Time-Entry, Employee Acceptable Use and the Social Media and Online Communications policies. Any photo of yourself that you upload must be a current business appropriate headshot of you.  Your use of this system constitutes your acceptance of, and agreement to, all applicable Comcast policies as well as your consent to monitoring by Comcast. Furthermore you acknowledge that you have no expectation of privacy in any material or information that you post.  Any unauthorized or inappropriate use of this system may result in a revocation of your user privileges and/or other disciplinary action up to and including termination of employment.&lt;/span&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;Here are some general guidelines to follow:&lt;/span&gt;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;• Be fair and respectful of Comcast, your colleagues, and our customers, suppliers, partners and competitors;&lt;/span&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;• Think about the consequences of what you want to say &lt;u&gt;before&lt;/u&gt; you say it;&lt;/span&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;• Don’t send or post spam;&lt;/span&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;• Be on-topic, and respectful of others’ views;&lt;/span&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;• Be honest and accurate; and&lt;/span&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: arial,sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;• If applicable, accurately record all time that you use the system as work time in Employee Self Service (“ESS”).&lt;/span&gt;&lt;/span&gt;&lt;br&gt; &lt;br&gt;&lt;br&gt;
&lt;b&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;Click &quot;Next&quot; to accept the Terms and Conditions&lt;/span&gt;&lt;b&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Retrieve</startElementReference>
    <variables>
        <name>BlankVariable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newuserids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tc_accept_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tc_accepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tc_accepted_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tc_dates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tcdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
