src/flows/Contract_Flow_w_Details-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_Userrole</name>
        <label>Retrieve Userrole</label>
        <locationX>95</locationX>
        <locationY>55</locationY>
        <actionName>VerifyFlowRetrieveContractor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Contractor_Userrole</targetReference>
        </connector>
        <inputParameters>
            <name>loginApplication</name>
            <value>
                <elementReference>LoginFlow_Application</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loginType</name>
            <value>
                <elementReference>LoginFlow_LoginType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isLoginAllowed</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Contractor_Userrole</name>
        <label>Check Contractor Userrole</label>
        <locationX>95</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contractor_Userrole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLoginAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WARNING</targetReference>
            </connector>
            <label>Contractor Userrole</label>
        </rules>
    </decisions>
    <label>Contract Flow w Details</label>
    <processType>Flow</processType>
    <screens>
        <name>WARNING</name>
        <label>WARNING</label>
        <locationX>99</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warning_nsg</name>
            <fieldText>You do not have access to Salesforce desktop or Salesforce1 mobile application.

LoginFlow_LoginType: {!LoginFlow_LoginType}
LoginFlow_Application:{!LoginFlow_Application}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Retrieve_Userrole</startElementReference>
    <variables>
        <name>isLoginAllowed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userrole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
